{% extends 'main/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <h3 class="well text-center">New Todo Item</h3>
    </div>
</div>
<div class="row">
 <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            {% include 'main/form_template.html' %}
            <div class="form-group">
                <div class="col-md-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
